.game-hand-wrapper {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-block {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 8px 0px 0px rgba(0, 0, 0, 0.18);

    .hand-icon {
      width: 45%;
    }
  }
}

.paper-hand {
  background: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  box-shadow: 0px 8px 0px 0px hsl(229, 65%, 46%);
}

.rock-hand {
  background: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
  box-shadow: 0px 8px 0px 0px hsl(346, 76%, 35%);
}
.scissor-hand {
  background: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
  box-shadow: 0px 8px 0px 0px hsl(28, 81%, 43%);
}

.size-large {
  width: 18.5rem;
  height: 18.5rem;

  .inner-block {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    box-shadow: inset 0px 12px 0px 0px rgba(0, 0, 0, 0.18);

    .hand-icon {
      width: 45%;
    }
  }
}

.win-shadow {
  animation: ripple 2s ease infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1.5rem hsla(217, 16%, 45%, 0.2),
      0 0 0 3rem hsla(217, 16%, 45%, 0.2), 0 0 0 5rem hsla(217, 16%, 45%, 0.2);
  }
  100% {
    box-shadow: 0 0 0 3rem hsla(217, 16%, 45%, 0.2),
      0 0 0 6rem hsla(217, 16%, 45%, 0.2), 0 0 0 12rem hsla(217, 16%, 45%, 0);
  }
}

@keyframes rippleMob {
  0% {
    box-shadow: 0 0 0 0.5rem hsla(217, 16%, 45%, 0.2),
      0 0 0 1.5rem hsla(217, 16%, 45%, 0.2), 0 0 0 3rem hsla(217, 16%, 45%, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1.5rem hsla(217, 16%, 45%, 0.2),
      0 0 0 3rem hsla(217, 16%, 45%, 0.2), 0 0 0 5rem hsla(217, 16%, 45%, 0);
  }
}

.size-large.paper-hand {
  box-shadow: 0px 12px 0px 0px hsl(229, 65%, 46%);
}

.size-large.rock-hand {
  box-shadow: 0px 12px 0px 0px hsl(346, 76%, 35%);
}
.size-large.scissor-hand {
  box-shadow: 0px 12px 0px 0px hsl(28, 81%, 43%);
}

@media only screen and (max-width: 1024px) {
  .size-large {
    width: 14.5rem;
    height: 14.5rem;

    .inner-block {
      width: 11rem;
      height: 11rem;
      box-shadow: inset 0px 10px 0px 0px rgba(0, 0, 0, 0.18);
    }
  }

  .size-large.paper-hand {
    box-shadow: 0px 10px 0px 0px hsl(229, 65%, 46%);
  }

  .size-large.rock-hand {
    box-shadow: 0px 10px 0px 0px hsl(346, 76%, 35%);
  }
  .size-large.scissor-hand {
    box-shadow: 0px 10px 0px 0px hsl(28, 81%, 43%);
  }
}

@media only screen and (max-width: 425px) {
  .win-shadow {
    animation: rippleMob 2s ease infinite;
  }

  .game-hand-wrapper {
    width: 6.8rem;
    height: 6.8rem;

    .inner-block {
      width: 5.3rem;
      height: 5.3rem;
      box-shadow: inset 0px 4px 0px 0px rgba(0, 0, 0, 0.18);
    }
  }

  .paper-hand {
    box-shadow: 0px 4px 0px 0px hsl(229, 65%, 46%);
  }

  .rock-hand {
    box-shadow: 0px 4px 0px 0px hsl(346, 76%, 35%);
  }
  .scissor-hand {
    box-shadow: 0px 4px 0px 0px hsl(28, 81%, 43%);
  }

  .size-large.paper-hand {
    box-shadow: 0px 4px 0px 0px hsl(229, 65%, 46%);
  }

  .size-large.rock-hand {
    box-shadow: 0px 4px 0px 0px hsl(346, 76%, 35%);
  }
  .size-large.scissor-hand {
    box-shadow: 0px 4px 0px 0px hsl(28, 81%, 43%);
  }
}
