.home {
  padding-top: 3rem;
  max-width: 44rem;
  margin: 0 auto;
  font-family: "Barlow Semi Condensed", sans-serif;
}

@media only screen and (max-width: 425px) {
  .home {
    padding-top: 2rem;
    width: 100%;
  }
}
